* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $dark-smoke;
  font-size: nth($sizes, 1);
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: $font-primary;
  font-size: 10px;
}

body {
  background-color: $dark-snow;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
}
