$font-primary: 'PT Sans', sans-serif;
$font-secondary: 'PT Sans Caption', sans-serif;

$sizes: 1.2rem, 1.4rem, 1.5rem, 1.6rem, 2.4rem, 3.2rem;

$white: #ffffff;
$white-alt: #f5f5f500;
$snow: #f5f5f5;
$dark-snow: #e5e5e5;
$blue: #167abc;
$smoke: #8e8e8e;
$dark-smoke: #555555;
$light-smoke: #00000033;

$xm: 480px;
$sm: 600px;
$md: 840px;
$lg: 960px;
$xl: 1280px;
